<!DOCTYPE html>
<html lang="zxx" class="no-js"
xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">
<h:head xmlns:h="http://java.sun.com/jsf/html">

	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	
	<!-- Site Title -->
	<title>ArriendaYa!!</title>

	<link href="https://fonts.googleapis.com/css?family=Poppins:100,300,500" rel="stylesheet" />
		<!--
		CSS
		============================================= -->
		<link rel="stylesheet" href="resources/css/linearicons.css" />
		<link rel="stylesheet" href="resources/css/owl.carousel.css" />
		<link rel="stylesheet" href="resources/css/font-awesome.min.css" />
		<link rel="stylesheet" href="resources/css/nice-select.css" />
		<link rel="stylesheet" href="resources/css/magnific-popup.css" />
		<link rel="stylesheet" href="resources/css/bootstrap.css" />
		<link rel="stylesheet" href="resources/css/main.css" />
	
	<f:metadata>
        <f:viewParam id="id" name="id" value="#{clienteBean.id}"/>
        <f:viewAction action="#{clienteBean.loadData()}" />
 	</f:metadata>
</h:head> 
<body> 

	<div class="oz-body-wrap">
		
		
		<!-- Start Team Force Area -->
		<section class="team-force-area pt-60">
			<div class="container">
				<div>

						<h1>
							<a href="index.xhtml" class="text-uppercase">Home</a>
						</h1>

					</div>
				<div class="row align-items-center">
					<div class="col-lg-6">
						<img class="img-fluid" src="resources/img/señalando.png" alt="" />
					</div>
					<div class="col-lg-6">
					
						<div class="story-content">
							<h1>Registro de clientes</h1>
								<h3>"Registrate para disfrutar de las ofertas directamente de los propietarios"</h3>
									<h:form>
										<h:panelGrid columns="3">
											
											<h:outputLabel value="Nombre" />
											<h:inputText value="#{clienteBean.newCliente.nombre}" id="txtnombre" />
											<h:message for="txtnombre"/>
									
											<h:outputLabel value="Apellido" />
											<h:inputText value="#{clienteBean.newCliente.apellido}" id="txtapellido" />
											<h:message for="txtapellido"/>
											
											<h:outputLabel value="Contrasena" />
											<h:inputSecret value="#{clienteBean.newCliente.clave}" id="txtclave" />
											<h:message for="txtclave"/>
										
											<!--<h:inputText value="#{personaBean.editing}" />-->
										</h:panelGrid>
										<h:messages globalOnly="true"/>
										<h:commandButton value="Guardar" action="#{clienteBean.guardar()}"/>
									</h:form>		
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Team Force Area -->
				<!-- Start Video Area -->
		<!-- Start Quote Area -->
		<section class="quote-area pt-60 pb-60">
			<div class="container">
				
					<div class="active-bottle-carousel col-lg-8 align-self-center">
					<div class="col-lg-6">
						<img class="img-fluid" src="resources/img/noticia.png" alt="" />
					</div>
							<p>Gómez indica que los locales comerciales y de vivienda familiar tardan entre 5 y 6 meses en ser alquilados debido a que “no existe la liquidez económica necesaria para pagar los arriendos y depositar las garantías”.</p>
								<span class="slide-name text-uppercase">El Telegrafo.</span>
						
					</div>
				
			</div>
		</section>
		<!-- Start Quote Area -->
		<!-- Start Service Area -->
		<section class="service-area no-gutters">
				<div class="container-fluid">
					<div class="row">
						<div class="image-left col-lg-5 col-sm-4">
							<div class="overlay overlay-bg"></div>
							<img class="img-fluid" src="img/service.jpg" alt="" />
						</div>
						<div class="service-right col-lg-6 col-sm-8 text-center align-self-center">
							<div class="row no-gutters">
									
								
									
							</div>
						</div>
					</div>
				</div>
		</section>
		<!-- End Service Area -->
		<!-- Start Conatct- Area -->
		<section class="contact-area pt-80 pb-80">
			<div class="container">
				<div class="row">
					<div class="single-contact col-lg-3">
						<h2 class="text-uppercase">Visita nuestras oficinas</h2>
						<p>
							Huaynacapac 5-65 y calle larga
						</p>
					</div>
					<div class="single-contact col-lg-3">
						<h2 class="text-uppercase">Llamanos</h2>
						<p>
							Phone 01: 09822118915 <br></br>
							Phone 02: 09854578986 <br></br>
							
						</p>
					</div>
					<div class="single-contact col-lg-3">
						<h2 class="text-uppercase">Correo electronico</h2>
						<p>
							fcherrez@est.ups.edu.ec <br></br>
							jpelaezt@est.ups.edu.ec <br></br>
							
						</p>
					</div>
					
				</div>
			</div>
		</section>
		<!-- End Conatct- Area -->
		<!-- Strat Footer Area -->
		<footer class="section-gap">
			<div class="container">
				<div class="row justify-content-center">
					<div class="subcribe-form col-lg-6">
						
					</div>
				</div>
				<div class="row pt-60">
					<div class="col-lg-3 col-sm-6">
						<div class="single-footer-widget">
							<h6 class="text-uppercase mb-20">Top Product</h6>
							<ul class="footer-nav">
								<li><a href="index.xhtml">Home</a></li>
								<li><a href="#">Manage Reputation</a></li>
								<li><a href="#">Power Tools</a></li>
								<li><a href="#">Marketing Service</a></li>
							</ul>
						</div>
					</div>
					
					

					
				</div>
				<div class="footer-bottom d-flex justify-content-between align-items-center flex-wrap">
					
					
				</div>
			</div>
		</footer>
		<!-- End Footer Area -->

	</div>

		<script src="resources/js/vendor/jquery-2.2.4.min.js"></script>
		<script src="resources/js/vendor/bootstrap.min.js"></script>
		<script src="resources/js/jquery.ajaxchimp.min.js"></script>
		<script src="resources/js/owl.carousel.min.js"></script>
		<script src="resources/js/jquery.nice-select.min.js"></script>
		<script src="resources/js/jquery.magnific-popup.min.js"></script>
		<script src="resources/js/main.js"></script>
	</body>
</html>

