<!DOCTYPE html>
<html lang="zxx" class="no-js"
xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">
<head>
	
	<!-- Site Title -->
	<title>ArriendaYa!!</title>

	<link href="https://fonts.googleapis.com/css?family=Poppins:100,300,500" rel="stylesheet" />
		<!--
		CSS
		============================================= -->
		<link rel="stylesheet" href="resources/css/linearicons.css" />
		<link rel="stylesheet" href="resources/css/owl.carousel.css" />
		<link rel="stylesheet" href="resources/css/font-awesome.min.css" />
		<link rel="stylesheet" href="resources/css/nice-select.css" />
		<link rel="stylesheet" href="resources/css/magnific-popup.css" />
		<link rel="stylesheet" href="resources/css/bootstrap.css" />
		<link rel="stylesheet" href="resources/css/main.css" />
	</head>
<body> 

<h:form>
	<div class="oz-body-wrap">
		<!-- Start Header Area -->
		<header class="default-header">
					<div class="main-menubar d-flex align-items-center">
														
					</div>
			</header>
		<!-- End Header Area -->
		<!-- Start Banner Area -->
		<section class="banner-area relative">
			<div class="overlay overlay-bg"></div>
			<div class="container">
				<div class="row fullscreen align-items-center justify-content-center">
					<div class="col-lg-10">
						<div class="banner-content text-center">
							<h4 class="text-uppercase text-white">
								<!-- #{predioBean.preImaSesion.codigo}  -->
							
								<!--  <h:outputLabel value="#{predioBean.preImaSesion.codigo}" /> -->
									<h:dataTable var="_imagen" value="#{imagenBean.getImagenesxPredio(predioBean.preImaSesion.codigo)}" styleClass="simpletablestyle">
									<h:column>
							        	<f:facet name="header">Imagen</f:facet>
							            <img src="#{_imagen.direccion}" width="200px"  height="200px" alt="#{_imagen.nombre}"/>
									</h:column>
								</h:dataTable>
								<br />
								<br />
								<h:commandButton value="Regresar" action="list-predios-pruebas"/>
							</h4>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Banner Area -->
		
		<!-- Start Feature Area -->
		<section class="feature-area pt-80 pb-40">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<div class="single-feature d-flex justify-content-between align-items-top">
							
							
						</div>
					</div>
					<div class="col-lg-6">
						<div class="single-feature d-flex justify-content-between align-items-top">
							
							
						</div>
					</div>
					<div class="col-lg-6">
						<div class="single-feature d-flex justify-content-between align-items-top">
							
						</div>
					</div>

					<div class="col-lg-6">
						<div class="single-feature d-flex justify-content-between align-items-top">
							
							
						</div>
					</div>

					<div class="col-lg-6">
						<div class="single-feature d-flex justify-content-between align-items-top">
							
							
						</div>
					</div>

					<div class="col-lg-6">
						<div class="single-feature d-flex justify-content-between align-items-top">
							
							
						</div>
					</div>

				</div>
			</div>
		</section>
		
		<!-- Start Quote Area -->
		<section class="quote-area pt-60 pb-60">
			<div class="container">
				<div class="active-bottle-carousel col-lg-8 align-self-center">
					<div class="col-lg-6">
						<img class="img-fluid" src="resources/img/noticia.png" alt="" />
					</div>
							<p>Gómez indica que los locales comerciales y de vivienda familiar tardan entre 5 y 6 meses en ser alquilados debido a que “no existe la liquidez económica necesaria para pagar los arriendos y depositar las garantías”.</p>
								<span class="slide-name text-uppercase">El Telegrafo.</span>
						
					</div>
			</div>
		</section>
		<!-- Start Quote Area -->
		
		<!-- Start Conatct- Area -->
		<section class="contact-area pt-80 pb-80">
			<div class="container">
				<div class="row">
					<div class="single-contact col-lg-3">
						<h2 class="text-uppercase">Visita nuestras oficinas</h2>
						<p>
							Huaynacapac 5-65 y calle larga
						</p>
					</div>
					<div class="single-contact col-lg-3">
						<h2 class="text-uppercase">Llamanos</h2>
						<p>
							Phone 01: 09822118915 <br></br>
							Phone 02: 09854578986 <br></br>
							
						</p>
					</div>
					<div class="single-contact col-lg-3">
						<h2 class="text-uppercase">Correo electronico</h2>
						<p>
							fcherrez@est.ups.edu.ec <br></br>
							jpelaezt@est.ups.edu.ec <br></br>
							
						</p>
					</div>
					
				</div>
			</div>
		</section>
		<!-- End Conatct- Area -->
		<!-- Strat Footer Area -->
		<footer class="section-gap">
			<div class="container">
				<div class="row justify-content-center">
					<div class="subcribe-form col-lg-6">
						
					</div>
				</div>
				<div class="row pt-60">
					<div class="col-lg-3 col-sm-6">
						<div class="single-footer-widget">
							<h6 class="text-uppercase mb-20">Top Product</h6>
							<ul class="footer-nav">
								<li><a><h:commandButton action="#{clienteBean.logout()}" value="Salir" /></a></li>
								
							</ul>
						</div>
					</div>
					
					

					
				</div>
				<div class="footer-bottom d-flex justify-content-between align-items-center flex-wrap">
					
					
				</div>
			</div>
		</footer>
		<!-- End Footer Area -->

	</div>

		<script src="resources/js/vendor/jquery-2.2.4.min.js"></script>
		<script src="resources/js/vendor/bootstrap.min.js"></script>
		<script src="resources/js/jquery.ajaxchimp.min.js"></script>
		<script src="resources/js/owl.carousel.min.js"></script>
		<script src="resources/js/jquery.nice-select.min.js"></script>
		<script src="resources/js/jquery.magnific-popup.min.js"></script>
		<script src="resources/js/main.js"></script>
		</h:form>
	</body>
</html>


